<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>无标题文档</title>
    <include file="Common:common" />
    <load href="__PUBLIC__/css/common/rightCommon.css" />
    <style>
        label{ padding:0 10px; margin:0; height:50px; line-height:50px; cursor:pointer;}
    </style>
    <script>
        $(document).ready(function(e) {
            getEditData(function(jdata){

            });

        });
    </script>
</head>

<body>
<!--alert弹窗Start  -->
<div id="top-alert" class="fixed alert alert-error" style="display:none;">
    <button class="close fixed" style="margin-top: 4px;">&times;</button>
    <div class="alert-content">这是内容</div>
</div>
<!--alert弹窗end  -->
<nav class="navbar navbar-default" role="navigation">
    <div class="navbar-header">
        <a class="navbar-brand" href="#"><i class="fa fa-plus" aria-hidden="true"></i> <span id="changeTitle">添加</span>不同意退款原因</a>
    </div>
</nav>

<div class="add-box">
    <form class="addForm ajax-fadein" id="form1" name="form1" method="post" action="__APP__/Refund/productRefundOpinionData/controller/Refund/backUrl/orderRefund/table/refundproduct">
        <input name="id" type="hidden" id="id" value="<{$_GET['refund_id']}>" />
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tbody>
            <input name="deliver_id" type="hidden"  value="<{$_GET['deliver_id']}>" />
            <tr>
                <td align="center">不同意原因<font color="red">&nbsp;&nbsp;*</font></td>
                <td colspan="3"><textarea name="refund_nocause"  id="refund_nocause" cols="45" rows="5"
                                          style="width:100%;height:200px; margin:10px 0px;"></textarea></td>
            </tr>

            <tr>
                <td>&nbsp;</td>
                <td>
                    <button type="submit" class="btn btn-success" id="saveButton"><i class="fa fa-check" aria-hidden="true"></i> 添加</button>
                    <button type="button" class="btn btn-default" id="cancelButton"><i class="fa fa-times" aria-hidden="true"></i> 取消</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

</body>
</html>
<script>
    $('.btn-success').click(function () {
        var refund_nocause = $('#refund_nocause').val();
        if(!refund_nocause){
            $.show({
                title: '提示',
                isConfirm: false,
                content: '原因不能为空'
            });
            return false;
        }
    });
</script>

