<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<include file="Common:common" />
<load href="__PUBLIC__/css/common/rightCommon.css" />
</head>

<body>
<!--alert弹窗Start  -->
<div id="top-alert" class="fixed alert alert-error" style="display:none;">
    <button class="close fixed" style="margin-top: 4px;">&times;</button>
    <div class="alert-content">这是内容</div>
</div>
<!--alert弹窗end  -->
<nav class="navbar navbar-default" role="navigation">
<div class="navbar-header">
<a class="navbar-brand" href="#">用户评论管理</a>
</div>
<div>
<!--<button type="button" class="btn btn-danger navbar-btn listButton" onclick="deleteData('Site')"><i class="fa fa-trash-o" aria-hidden="true"></i> 删除</button>-->
<button type="button" class="btn btn-info navbar-btn listButton" onclick="editData('addComment')"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> 评论回复</button>
<!--<button type="button" class="btn btn-success navbar-btn listButton" onclick="openAddData('addSite')"><i class="fa fa-plus" aria-hidden="true"></i> 新建</button>-->
<form class="navbar-form navbar-right listSearch" role="search" method="get" action="__ACTION__">
<div class="form-group">
<input name="keyWord" type="text" class="form-control" id="keyWord" placeholder="请输入关键词进行搜索">
</div>
<button type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i> 搜索</button>
</form>    
</div>
</nav>

<div class="list-box">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<thead>
<tr>
<th>选择</th>
<th>编号</th>
<th>用户名</th>
<th>评论商品</th>
<th>评论内容</th>
<th>评论时间</th>
<th>星级评价</th>
<th>回复内容</th>
<!--<th>操作(是否推荐到首页)</th>-->
</tr>
</thead>
<tbody>
<volist name="list" id="vo">
<tr>
<td><input type="checkbox" name="del_listID" id="del_listID" data-name="multi-select" value="<{$vo.id}>" /></td>
<td><{$vo.id}></td>
	<if condition="$vo['user']['nickName']">
		<td><{$vo.user.nickName}></td>
		<else />
		<td><{$vo.user.tel}></td>
	</if>
<!--<td><{$vo.user.nickName}></td>-->
<td><{$vo.product.product_name}></td>
<td><{$vo.comment_content|subtext=10}></td>
<td><{$vo.comment_addTime}></td>
<td><{$vo.comment_star}>星</td>
<td><{$vo.comment_reply|subtext=10}></td>
</tr>
</volist>
</tbody>
</table>
</div>



<ul class="pagination">
<{$page}>
</ul>
<script src="__PUBLIC__/js/status/status.js"></script>
</body>
</html>
