<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<include file="Common:common" />
<load href="__PUBLIC__/css/common/rightCommon.css" />
	<!--<script>-->
        <!--$(function() {// 初始化内容-->
			<!--var product_id = $('.delivery').attr('name');-->
			<!--var order_id = $('.delivery').attr('name1');-->
            <!--$.post(APP+'/Order/orderStatus',{product_id:product_id,order_id:order_id},function(data){-->
				<!--if(data.code == 200){-->
                    <!--$(".stu").replaceWith("<a class='btn btn-danger'  href='javascript:void(0);'>111</a>");-->
				<!--}-->
			<!--})-->
        <!--});-->
	<!--</script>-->
</head>

<body>
<!--alert弹窗Start  -->
<div id="top-alert" class="fixed alert alert-error" style="display:none;">
    <button class="close fixed" style="margin-top: 4px;">&times;</button>
    <div class="alert-content">这是内容</div>
</div>
<!--alert弹窗end  -->
<nav class="navbar navbar-default" role="navigation">
<div class="navbar-header">
<a class="navbar-brand" href="#">111订单详情</a>
</div>
<div>
<!--<button type="button" class="btn btn-danger navbar-btn listButton" onclick="deleteData('Site')"><i class="fa fa-trash-o" aria-hidden="true"></i> 删除</button>-->
<!--<button type="button" class="btn btn-info navbar-btn listButton" onclick="editData('addSite')"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> 修改</button>-->
<!--<button type="button" class="btn btn-success navbar-btn listButton" onclick="openAddData('addSite')"><i class="fa fa-plus" aria-hidden="true"></i> 新建</button>-->
<form class="navbar-form navbar-right listSearch" role="search" method="get" action="__ACTION__">
<div class="form-group">
<input name="keyWord" type="text" class="form-control" id="keyWord" placeholder="请输入关键词进行搜索">
</div>
<button type="submit" class="btn btn-primary"><i class="fa fa-search" aria-hidden="true"></i> 搜索</button>
</form>    
</div>
</nav>

<div class="list-box">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
<thead>
<tr>
<th>选择</th>
<th>编号</th>
<th>商品名称</th>
<th>商品分类</th>
<th>商家名称</th>
<th>商品缩略图</th>
<th>商品数量</th>
	<if condition="($_GET['order_producttype'] eq 1)">
		<th>商品订金</th>
		<th>商品尾款</th>
		<elseif condition="($_GET['order_producttype'] eq 2)"/>
		<th>商品单价</th>
		<th>商品总价</th>
		<else />
		<th>商品</th>
		<th>商品</th>
	</if>
<th>商品属性</th>
<th>操作</th>
</tr>
</thead>
<tbody>
<volist name="list" id="vo">
<tr>
<td><input type="checkbox" name="del_listID" id="del_listID" data-name="multi-select" value="<{$vo.id}>" /></td>
<td><{$vo.id}></td>
<td><{$vo.name}></td>
<td><{$vo.category_name}></td>
<td><{$vo.business}></td>
<td><img  src="<?php echo $vo['image']?>" width="100" height="100" class="newsimgs" alt="图片未找到" style="padding: 5px"></td>
<td><{$vo.count}>件</td>
<td><{$vo.price}>元</td>
<td><{$vo.totalPrice}>元</td>
<td><{$vo.productvalue}></td>
	<!--1.判断发货表中是否有数据-->
	<!--2.有数据 循环-->
	<!--3.确定订单号-->
	<!--4.查找该订单下的商品是否存在发货表中-->
	<?php
	 if(empty($delivery)){  ?>
	<td class="stu"><a class="btn btn-success navbar-btn "  href="__APP__/Order/readyOrder?order_id=<{$order_id}>&product_id=<{$vo.id}>&user_id=<{$_GET['user_id']}>&order_producttype=<{$vo.order_producttype}>" > 物流发货</a>
		<a class="btn btn-success navbar-btn "  href="__APP__/Order/autonomyOrder?order_id=<{$order_id}>&product_id=<{$vo.id}>&user_id=<{$_GET['user_id']}>&order_producttype=<{$vo.order_producttype}>" > 自主发货</a></td>
	<?php }
      foreach($delivery as $val){
        if($val['order_id'] == $order_id){
      	if($val['product_id'] == $vo['id']){ ?>
	<td class="stu"><a class="btn btn-success navbar-btn btn-danger" > 已发货</a></td>
	<?php   }else{   ?>
	<td class="stu"><a class="btn btn-success navbar-btn "  href="__APP__/Order/readyOrder?order_id=<{$order_id}>&product_id=<{$vo.id}>&user_id=<{$_GET['user_id']}>&order_producttype=<{$vo.order_producttype}>" > 物流发货</a>
		<a class="btn btn-success navbar-btn "  href="__APP__/Order/autonomyOrder?order_id=<{$order_id}>&product_id=<{$vo.id}>&user_id=<{$_GET['user_id']}>&order_producttype=<{$vo.order_producttype}>" > 自主发货</a></td>
	<?php }
	    }
      }
	?>
</tr>
</volist>
</tbody>
</table>
</div>



<ul class="pagination">
<{$page}>
</ul>
<script src="__PUBLIC__/js/status/status.js"></script>

</body>
</html>
